.collaboration-cursor__caret {
  position: relative;
  margin-right: -1px;
  margin-left: -1px;
  border-right: 1px solid;
  border-left: 1px solid;
  pointer-events: none;
  word-break: normal;
}

.collaboration-cursor__label {
  position: absolute;
  top: -1.5rem;
  left: -1px;
  max-width: 10rem;
  overflow: hidden;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  padding: 0.125rem 0.375rem;
  color: white;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}
